.title{
  font-size: calc(1em + 10vw);
  color:white;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
  display:flex;
  flex-direction: row;
}

.gallery{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.gallery-pc{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.song-div{
  display:flex;
  flex-direction: row;
  margin-bottom: 4rem;
}

.song{

  height: calc(2.25em + 22.5vw);
  width: calc(4em + 40vw);
  margin-left: calc(1em + 3vw);
}


span{
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.icon-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.download{
  text-decoration: none;
  color:gray;
  font-weight: 600;
  font-size: calc(0.5rem + 2vw);
  max-width: 12rem;
}

.download:hover{
  color:lightgray;
}

p{
  font-weight: 600;
  font-size: calc(0.5rem + 2vw);
  color:white;
  max-width: 10rem;
  opacity: 0.8;

}


.downloader{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sold{
  font-style: italic;
  font-weight: 100;
}

